hr { margin: 0.1em auto; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "me heart" "me core";
}

.me { grid-area: me; }

.heart { grid-area: heart; }

.core { grid-area: core; }
